@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url(./styles/header.css);
@import url(./styles/banner.css);
@import url(./styles/carrossel.css);
@import url(./styles/topicos.css);
@import url(./styles/contato.css);
@import url(./styles/footer.css);


:root {
    --clr-background: #ebecee;
    --clr-header: #FFFFFF;
    --clr-orange: #eb9b00;
    --clr-blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --ft-default: 'Poppins';
    --ft-secondary: 'Josefin Sans';
    --clr-black: #000000;
    --clr-gray: #474646;
    --clr-grayclaro: #858585;
}

body {
    background-color: var(--clr-background);
    font-family: var(--ft-default);
    font-size: 16px;
    font-weight: 400;
}

