hr {
    margin: 0;
}

.rodape {
    background-color: var(--clr-header);
    padding: 1em;
    
}

.lista-rodape {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--clr-gray);
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--clr-grayclaro);
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .container__texto {
        display: block;
    }
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--clr-black);
    }
    .cabecalho {
        padding: 0 2em;
    }
    .opcoes {
        margin-right: auto;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--clr-grayclaro);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 0;
    }
}